<aside class="gc-nttvs container">
    <h2>Government of Canada activities and initiatives</h2>
    <div id="gcwb_prts" class="wb-eqht row" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/features/features-en.html">
        <p><ul><li><a href="http://www.canada.ca/en/">Visit the Canada.ca home page to see activities and initiatives in the Government of Canada.</a></li></ul></p>
    </div>
</aside>
