<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>You are here:</h2>
    <div class="container">
        <div class="row">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
    </div>
</nav>