<li><a href="http://www.tpsgc-pwgsc.gc.ca/comm/index-eng.html">Home</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/comm/services-eng.html">PWGSC Services</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/services/bns-prprt-eng.html">Property and Buildings</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/index-eng.html">Real Property</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-eng.html">Esquimalt Graving Dock</a></li>