<li><a href="http://www.canada.ca/fr.html">Accueil</a></li>
<li><a href="http://www.canada.ca/fr/services/transport.html">Transport et infrastructure</a></li>
<li><a href="http://www.canada.ca/fr/services/transport/maritime.html">Transport maritime</a></li>
<li><a href="https://www.canada.ca/fr/services/transport/maritime/conception-construction-entretien-batiments.html">Conception, construction et entretien des bâtiments</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-fra.html">Cale sèche d'Esquimalt</a></li>