<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>You are here:</h2>
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="https://www.canada.ca/en.html">Home</a></li>
            </ol>
        </div>
    </div>
</nav>