<li><a href="http://www.canada.ca/en.html">Home</a></li>
<li><a href="http://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li><a href="http://www.canada.ca/en/services/transport/marine.html">Marine transportation</a></li>
<li><a href="http://www.canada.ca/en/services/transport/marine/vessel-design-construction-maintenance.html">Vessel design, construction, and maintenance</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-eng.html">Esquimalt Graving Dock</a></li>