<nav role="navigation" id="wb-sm" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-fr.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
        <h2>Menu des sujets</h2>
        <div class="row">
            <ul class="list-inline menu">
                <li><a href="http://www.edsc.gc.ca/fr/emplois/index.page">Emplois</a></li>
                <li><a href="http://www.cic.gc.ca/francais/index.asp">Immigration</a></li>
                <li><a href="https://voyage.gc.ca/">Voyage</a></li>
                <li><a href="https://www.canada.ca/fr/services/entreprises.html">Entreprises</a></li>
                <li><a href="https://www.canada.ca/fr/services/prestations.html">Prestations</a></li>
                <li><a href="http://canadiensensante.gc.ca/index-fra.php">Santé</a></li>
                <li><a href="https://www.canada.ca/fr/services/impots.html">Impôts</a></li>
                <li><a href="https://www.canada.ca/fr/services.html">Autres services</a></li>
            </ul>
        </div>
    </div>
</nav>