@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="gantt-container"></div>
<script type="text/javascript" src="~/scripts/GanttPlugin.min.js"></script>
<script type="text/javascript">
    new Gantt.initializer('http://localhost:23001/api/bookings', 'gantt-container');
</script>
