<nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
    <h2 id="wb-sec-h" class="wb-inv">@Resources.SectionMenu</h2>
    <section class="list-group menu list-unstyled">
        <h3>@Resources.EGD</h3>
        @*@Html.MvcSiteMap().Menu(false, true, true)*@
    </section>
</nav>

