<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\EGD_Deployment\egdBooking_v2.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/egdBooking</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingContext" Order="1" Enabled="False">
          <Destination Path="Data Source=cypress.ncr.pwgsc.gc.ca;Initial Catalog=egdBooking_v2;Persist Security Info=True;User ID=sa;Password=Beethoven!7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="egdBooking_v2.Models.BookingContext, egdBooking_v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=cypress.ncr.pwgsc.gc.ca;Initial Catalog=egdBooking_v2;Persist Security Info=True;User ID=sa;Password=Beethoven!7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="egdBooking_v2.Models.ApplicationDbContext, egdBooking_v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookingContext-Web.config Connection String">
      <ParameterValue>Data Source=cypress.ncr.pwgsc.gc.ca;Initial Catalog=egdBooking_v2;Persist Security Info=True;User ID=sa;Password=Beethoven!7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=cypress.ncr.pwgsc.gc.ca;Initial Catalog=egdBooking_v2;Persist Security Info=True;User ID=sa;Password=Beethoven!7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>