<div class="brand">
    <div class="container">
        <div class="row">
            <nav class="col-md-10 ftr-urlt-lnk">
                <h2 class="wb-inv">À propos du site</h2>
                <ul>
                    <li><a href="https://www1.canada.ca/fr/contact/retroaction.html">Rétroaction</a></li>
                    <li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
                    <li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
                    <li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
                    <li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
                    <li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
                </ul>
            </nav>
            <div class="col-xs-6 visible-sm visible-xs tofpg">
                <a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
            <div class="col-xs-6 col-md-2 text-right">
                <object type="image/svg+xml" tabindex="-1" role="img" data="/GCWeb/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"></object>
            </div>
        </div>
    </div>
</div>