<aside class="gc-nttvs container">
    <h2>Activités et initiatives du gouvernement du Canada</h2>
    <div id="gcwb_prts" class="wb-eqht row" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/features/features-fr.html">
        <p><ul><li><a href="http://www.canada.ca/fr/">Visitez la page d'accueil Canada.ca pour voir activit&eacute;s et initiatives du Government of Canada.</a></li></ul></p>
    </div>
</aside>
