<li><a href="http://www.tpsgc-pwgsc.gc.ca/comm/index-fra.html">Accueil</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/comm/services-fra.html">Services de TPSGC</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/services/bns-prprt-fra.html">Biens et immeubles</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/index-fra.html">Biens immobiliers</a></li>
<li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-fra.html">Cale sèche d'Esquimalt</a></li>