<nav role="navigation" id="wb-sm" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
        <h2>Topics menu</h2>
        <div class="row">
            <ul class="list-inline menu">
                <li><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs</a></li>
                <li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
                <li><a href="https://travel.gc.ca/">Travel</a></li>
                <li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
                <li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                <li><a href="http://healthycanadians.gc.ca/index-eng.php">Health</a></li>
                <li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                <li><a href="https://www.canada.ca/en/services.html">More services</a></li>
            </ul>
        </div>
    </div>
</nav>