@using egdbooking_v2.Models
@model ForgotPasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@Resources.ManageYourAccount</h1>
<p></p>

<div class="wb-tabs update-hash">
    <div class="tabpanels">
        <details id="ajout-add">
            <summary>@Resources.Register</summary>
            <p></p>
        </details>
        <details id="oubli-forgot">
            <summary>@Resources.ForgotPassword</summary>
            <p></p>
            <p></p>
        </details>
    </div>
</div>


@*<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>Enter your email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
