<h2>Nouvelle politique sur les proc&#233;dures de verrouillage &#233;lectrique</h2>

<p>
	La Cale s&#232;che d'Esquimalt (CSE) a publi&#233; une nouvelle politique sur les proc&#233;dures de verrouillage &#233;lectrique le 18 juillet 2012. En tant que locataire et/ou entrepreneur de la CSE, il est important que vous obteniez une copie du document Lockout Policy, Procedures & Records. Veuillez communiquer avec la section des services &#233;lectriques par t&#233;l&#233;phone au 250-363-3991, ou par courriel &#224; <a href="mailto:Joe.Lezetc@pwgsc-tpsgc.gc.ca">Joe.Lezetc@pwgsc-tpsgc.gc.ca</a>
</p>