<h2>Important notice regarding the Esquimalt Graving Dock</h2>

<p>
	Please note that effective September 30, 2015 the facility has the ability to flood and de-water the basin, as the scheduled maintenance of the basin gates have been completed.

	At this time we would also like everyone to take notice that there are a large number of infrastructure projects happening around the facility. We will try to ensure that these projects are the least disruptive to business as possible. The projects have been put in place to enhance the Esquimalt Graving Docks infrastructure and we appreciate your understanding.   
</p>