<h2>Avis important concernant la cale s&#232;che d'Esquimalt</h2>

<p>
	Veuillez noter qu'effective le 30 septembre 2015 la cale s&#232;che d'Esquimalt a le pouvoir d'inonder et de vider le basin puisque le maintien des portes du basin est compl&#233;t&#233;.

	&#192; ce temps-ci, nous aimerions aviser qu'un grand nombre de projets d'infrastructure est en place autour de la cour. Nous essayerons d'assurer que ces projets sont de la moins pertubatrice pour les affaires comme d'habitude. Ces projets augmenteront l'infrastructure de la cale s&#232;che d'Esquimalt et nous appr&#233;cions votre appui.
</p>