<h2>Attention All Users</h2>

<p>
Please be advised that when dry or wet docking requests are submitted, every attempt will be made to accommodate a specific location request.  However, if we confirm a wet or dry docking, we are only confirming that the request will be accommodated within the dry-dock or water lot.  We reserve the right to place the vessels at a location that does not interfere or impede other activity and maximizes the use of facility.  On rare occasions, a vessel may have to be repositioned during its stay and the cost of the movement will not be borne by <abbr title="Esquimalt Graving Dock">EGD</abbr>.
</p>