<h2>L'attention de tous les utilisateurs</h2>

<p>
	Soyez avis&#233;s que lorsque des demandes de mise en cale s&#232;che ou de remise &#224; flot sont soumises, nous nous effor&#231;ons par tous les moyens de satisfaire des demandes d'emplacement sp&#233;cifiques, cependant, si nous confirmons une mise en cale s&#232;che ou une remise &#224; flot, nous confirmons seulement que nous satisferons &#224; la demande dans les limites de la cale s&#232;che ou du plan d'eau. Nous nous r&#233;servons le droit de placer les navires &#224; un endroit qui ne nuit pas &#224; d'autres activit&#233;s et qui permet de maximiser l'utilisation des installations. En de rares occasions, un navire peut devoir &#234;tre chang&#233; d'emplacement pendant la dur&#233;e du contrat et les co&#251;ts de d&#233;placement ne seront pas assum&#233;s par le bassin de radoub d'Esquimalt.
</p>