<h2>New rates effective April&nbsp;1st,&nbsp;2017</h2>

<p><b>Effective April&nbsp;1st,&nbsp;2017</b>, the rates will increase by <b>2.27%</b> as per the regulations, (<a href="/biens-property/cse-egd/avistarifs-noticerates-ann1-2017-eng.html">Annex&nbsp;1&mdash;tariff of dock charges</a>). Details of the rates have been made available to our users previously and updates have been posted on our website.</p>
<p>The <b><cite>Esquimalt Graving Dock Regulations</cite></b> that set the tariff were published in Canada Gazette Part&nbsp;II on December&nbsp;23,&nbsp;2009 (referenced as SOR/324). A consolidated version of the Regulations is available at the following link:</p>
<p><a href="http://laws-lois.justice.gc.ca/PDF/SOR-89-332.pdf"><cite>Esquimalt Graving Dock Regulations (SOR/89-332)</cite></a> (<abbr title="Portable Document Format">PDF</abbr>, 234Kb, <a href="/comm/aformats-eng.html">Alternative formats and plug-ins</a>)</p>