<h2>Nouveaux tarifs en vigueur à compter du 1<sup>er</sup>&nbsp;avril&nbsp;2017</h2>

<p><b>À compter du 1<sup>er</sup>&nbsp;avril&nbsp;2017</b>, les tarifs augmenteront de <b>2.27&nbsp;%</b> conformément au Règlement (<a href="/biens-property/cse-egd/avistarifs-noticerates-ann1-2017-fra.html">Annexe&nbsp;1&nbsp;&mdash;&nbsp;Tarif des droits de cale sèche</a>). Le détail des tarifs a déjà été révélé aux utilisateurs et affiché sur notre site Web.</p>
<p>Le <b><cite>Règlement sur la cale sèche d'Esquimalt</cite></b> fixant le tarif a été publié dans la Gazette du Canada, Partie&nbsp;II, le 23&nbsp;décembre&nbsp;2009 (DORS/324). Une version complète se trouve sur le lien&nbsp;:</p>
<p><a href="http://laws-lois.justice.gc.ca/PDF/SOR-89-332.pdf"><cite>Règlement sur la cale sèche d'Esquimalt (DORS/89-332)</cite></a> (<abbr title="Format propriétaire documenté">PDF</abbr>, 234Ko, <a href="/comm/aformats-fra.html">Autres formats et plugiciels</a>)</p>