@{
    ViewBag.Title = "Login Failure";
}

@section lastwrite
{
    @File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath)).ToString(Resources.Resources.ShortDate)
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
