@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@section lastwrite
{
    @File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath))
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
