@using egdbooking_v2.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

@section lastwrite
    {
        File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath)).ToString(Resources.ShortDate)
    }

@section pagedetails
    {
        <div class="col-sm-3 mrgn-tp-sm pull-right">
            <div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
        </div>
    }

<h1 id="wb-cont">TBD</h1>



<div class="span-4">

    <br />
    <p>TBD</p>
    <p style="border: solid 1px gray; padding: 4px"><strong>TBD</strong><br />TBD</p>
    
    <h2>TBD</h2>

    <ul>
        <li>Jump to login by clicking here</li>
        <li>Jump to bookings by clicking here</li>
        <li>Jump to information by clicking here</li>
    </ul>

    <!-- Div so link above can jump to this point (login) -->
    <div id="login"></div>
    <h2>Login Header</h2>

    <!-- Div so link above can jump to this point (bookings) -->
    <div id="bookings"></div>
    <h2>Bookings Header</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="bookingsform">
            </section>
        </div>
    </div>
    <p>To see the list of all bookings @Html.RouteLink("click here", new { controller = "Bookings", action = "Index" })</p>

    <!-- Div so link above can jump to this point (information) -->
    <div id="information"></div>
    <h2>TBD</h2>
    <ul>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/index-eng.html">TBD</a></li>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/avis-notices-eng.html">TBD</a></li>
        <li><a href="http://www.tpsgc-pwgsc.gc.ca/biens-property/cse-egd/cn-cu-eng.html">TBD</a></li>
    </ul>

</div>
