// You need to copy this to appsettings.json and set the password
{
  "ConnectionStrings": {
    "SQLServer": "Server=cypress.ncr.pwgsc.gc.ca;Initial Catalog=egdbooking_v2;Persist Security Info=True;User ID=sa;Password=password;MultipleActiveResultSets=true"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
