{
  "ConnectionStrings": {
    "ApplicationDBContext": "Server=127.0.0.1;Initial Catalog=egdbooking_v2;Persist Security Info=True;User ID=sa;Password=password;MultipleActiveResultSets=true"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
